.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: lightgreen;
    border: 5px solid white;
    box-sizing: border-box;
}

.power-pellet {
    background-color: lightgreen;
    border-radius: 10px;
}

.wall {
    background-color: lightblue;
}

.ghost-lair{
    background-color: lightgray;
}

.pinky{
background-color: pink;
border: 0px;
}

.blinky{
background-color: rgb(248, 71, 71);
border: 0px;
}

.inky{
background-color: aquamarine;
border: 0px;
}

.clyde{
background-color: rgb(250, 203, 116);
border: 0px;
}

.scared-ghost{
    background-color: blue;
    border: 0px;
    }

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.power-pellet {
    background-color: lightgreen;
    border-radius: 10px;
}